@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure for .NET Developers</h1>
    <h3>
        We are here to learn about some things
    </h3>
</div>
